<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div id="app" v-cloak>
    <v-app>
      <v-main>
        <v-container class="hero-container" fluid v-if="page == 'home'">

          <v-card id="hero-section">
            <v-img id="hero-image" src="https://i.ibb.co/GxxpbMY/office-sendit.png" alt="mockup">
              <v-card-title class="hero-title">Message<br class="mobile-break"><br class="mobile-break"> Scheduler
              </v-card-title>
              <v-card-text class="hero-text"> Say "hello" to a different messaging experience.<br> Being able to send
                automated messages, so your clients and friends will always be in the loop! </v-card-text>
          </v-card>
          <br>
          <hr class="rounded">
          <br>
          <div id="card-section">
            <v-card>
              <v-img
                src="https://i.ibb.co/n164jK1/Nonprofit503-876fb51a00d7d9de8a2c23f94394278191947bd56a8048df5d0138cde497332f.png"
                alt="mockup">
            </v-card>
          </div>
          <br>
          <div class="adjusted-height1">
            <v-card shaped class="adjusted-height1">
              <v-card-title id="free-title">Free for everyone!</v-card-title>
              <v-card-text id="card-text">Send Messages around the globe completely free, Get started and schedule
                messages today!</v-card-text>
            </v-card>
          </div>
          <br>
          <div id="card-section2">
            <v-card shaped class="adjusted-height">
              <v-card-title id="ad-title">No ads. No trackers. No kidding.</v-card-title>
              <v-card-text id="card-text2">There are no ads, no affiliate marketers, and no creepy tracking in Send
                It. So focus on sending the messages that matter with the people who matter to you.</v-card-text>
            </v-card>
            <br>
            <v-card>
              <v-img
                src="https://i.ibb.co/5LDHsHX/No-Ads-3d8c77d5daeadd4c02fd3f4343745812fd4f79406a01b4924cf53549957297e0.png"
                alt="mockup">
            </v-card>
          </div>
          <br>

          <br>
          <hr class="rounded">
          <br>
          <template>
            <v-container id="testimonial">
              <v-carousel id="testimonial-text" justify="center" cycle height="300" hide-delimiter-background
                show-arrows-on-hover>
                <v-carousel-item justify="center" v-for="(slide, i) in slides" :key="i">
                  <v-sheet :color="colors[i]" height="300">
                    <v-row class="fill-height" justify="center">
                      <div class="text-h2">
                        {{ slide }} Slide
                      </div>
                    </v-row>
                  </v-sheet>
                </v-carousel-item>
              </v-carousel>
            </v-container>
          </template>
          <hr class="rounded">

          <br>


        </v-container>

        <!-- Footer -->
        <template>

          <v-footer absolute bottom v-bind="localAttrs" :padless="true">
            <v-card flat tile width="100%" class="orange darken-1 text-center">
              <v-card-text>
                <v-btn v-for="icon in icons" :key="icon" class="mx-4" icon @click="page = 'calendar'">
                  <v-icon size="24px">
                    {{ icon }}
                  </v-icon>
                </v-btn>
              </v-card-text>

              <v-divider></v-divider>

              <v-card-text class="white--text">
                {{ new Date().getFullYear() }} — <strong> © SendIt</strong>
              </v-card-text>
            </v-card>
          </v-footer>
        </template>
        <!-- END OF FOOTER -->
        </v-container>
        <!-- END OF SETTIGNS PAGE-->
      </v-main>
    </v-app>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="app.js" type="module"></script>
  <script src='https://unpkg.com/v-calendar'></script>
</body>

</html>