<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div id="app" v-cloak>
    <v-app>
      <v-main>
        <v-app-bar color="orange darken-1" fixed app>
          <v-app-bar-nav-icon @click="drawer =!drawer"></v-app-bar-nav-icon>
          <v-toolbar-title>SendIt</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
              
            <!-- Sign Up-->
            <template>

                      <v-dialog
                        v-model="signupDialog"
                        persistent
                        max-width="600px"
                      >
                        <template v-slot:activator="{ on, attrs }">
                          <v-btn
                            color="orange darken-1"
                            v-bind="attrs"
                            v-on="on"
                          >
                            SIGN-UP
                          </v-btn>
                        </template>
                        <v-card>
                          <v-card-title>
                            <span class="text-h5">User Profile</span>
                          </v-card-title>
                          <v-card-text>
                            <v-container>
                              <v-row>
                                <v-col
                                  cols="12"
                                  sm="6"
                                  md="4"
                                >
                                  <v-text-field
                                    label="Legal first name*"
                                    required
                                  ></v-text-field>
                                </v-col>
                                <v-col
                                  cols="12"
                                  sm="6"
                                  md="4"
                                >
                                  <v-text-field
                                    label="Legal middle name"
                                    hint="example of helper text only on focus"
                                  ></v-text-field>
                                </v-col>
                                <v-col
                                  cols="12"
                                  sm="6"
                                  md="4"
                                >
                                  <v-text-field
                                    label="Legal last name*"
                                    hint="example of persistent helper text"
                                    persistent-hint
                                    required
                                  ></v-text-field>
                                </v-col>
                                <v-col cols="12">
                                  <v-text-field
                                    label="Email*"
                                    required
                                  ></v-text-field>
                                </v-col>
                                <v-col cols="12">
                                  <v-text-field
                                    label="Password*"
                                    type="password"
                                    required
                                  ></v-text-field>
                                </v-col>
                                <v-col
                                  cols="12"
                                  sm="6"
                                >
                                  <v-select
                                    :items="['0-17', '18-29', '30-54', '54+']"
                                    label="Age*"
                                    required
                                  ></v-select>
                                </v-col>
                                <v-col
                                  cols="12"
                                  sm="6"
                                >
                                  <v-autocomplete
                                    :items="['Skiing', 'Ice hockey', 'Soccer', 'Basketball', 'Hockey', 'Reading', 'Writing', 'Coding', 'Basejump']"
                                    label="Interests"
                                    multiple
                                  ></v-autocomplete>
                                </v-col>
                              </v-row>
                            </v-container>
                            <small>*indicates required field</small>
                          </v-card-text>
                          <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn
                              color="blue darken-1"
                              text
                              @click="signupDialog = false"
                            >
                              Close
                            </v-btn>
                            <v-btn
                              color="blue darken-1"
                              text
                              @click="signupDialog = true"
                            >
                              Save
                            </v-btn>
                          </v-card-actions>
                        </v-card>
                      </v-dialog>
                    </v-row>
                  </template>
            <!-- Log In -->
            <template>

                    <v-dialog
                      v-model="loginDialog"
                      persistent
                      max-width="600px"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-btn
                          color="orange darken-1"
                          v-bind="attrs"
                          v-on="on"
                        >
                          Login
                        </v-btn>
                      </template>
                      <v-card>
                        <v-card-title>
                          <span class="text-h5">Sign In</span>
                        </v-card-title>
                        <v-card-text>
                          <v-container>
                            <v-row>
                              <v-col cols="12">
                                <v-text-field
                                  label="Email*"
                                  required
                                ></v-text-field>
                              </v-col>
                              <v-col cols="12">
                                <v-text-field
                                  label="Password*"
                                  type="password"
                                  required
                                ></v-text-field>
                            </v-row>
                          </v-container>
                          <small>*indicates required field</small>
                        </v-card-text>
                        <v-card-actions>
                          <v-spacer></v-spacer>
                          <v-btn
                            color="blue darken-1"
                            text
                            @click="loginDialog = false"
                          >
                            Close
                          </v-btn>
                          <v-btn
                            color="blue darken-1"
                            text
                            @click="loginDialog = true"
                          >
                            Save
                          </v-btn>
                        </v-card-actions>
                      </v-card>
                    </v-dialog>
                  </v-row>
                </template>





          </v-toolbar-items>
        </v-app-bar>


        <!-- Side Bar -->
        <v-navigation-drawer app v-model="drawer" class="pt-5 d-flex justify-end flex-column">
          <v-list>
            <v-list-item class="pt-5">
              <v-btn class="sideButton">
                <v-list-item-title>Calendar</v-list-item-title>
                <v-icon> mdi-calendar-edit </v-icon>
              </v-btn>
            </v-list-item>

            <v-list-item class="pt-5">
              <v-btn class="sideButton">
                <v-list-item-title>List</v-list-item-title>
                <v-icon> mdi-format-list-bulleted </v-icon>
              </v-btn>
            </v-list-item>

                <!--Settings-->



            <v-list-item class="pt-5">
              <v-btn class="sideButton">
                <v-list-item-title>Settings</v-list-item-title>
                <v-icon> mdi-account-cog </v-icon>
              </v-btn>
            </v-list-item>

          </v-list>
        </v-navigation-drawer>
        <!-- End of Side Bar -->

        <!-- Home Page -->
        <v-container>
          <v-card>
            <v-card-title>Hi</v-card-title>
          </v-card>
        </v-container>

        <!-- End of Home Page -->


        <!-- Calendar Page -->

        <!-- End of Calendar Page -->

        <!-- List Page -->

        <!-- End of List Page -->

      </v-main>
    </v-app>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="app.js" type="module"></script>
</body>

</html>